# Farenheit to celcius

In [1]:
Fahrenheit = int(input("Enter a temperature in Fahrenheit: "))

Celsius = (Fahrenheit - 32) * 5.0/9.0

print("Fahrenheit",Fahrenheit ,"in Celsius is" ,Celsius)

Enter a temperature in Fahrenheit: 97
Fahrenheit 97 in Celsius is 36.111111111111114

### print sqr and cube of a number

In [2]:
number = int (input("Enter a number: "))

# square and cube
print ("square of {0} is {1}".format(number, number**2))
print ("square of {0} is {1}".format(number, number**3))

Enter a number: 2
square of 2 is 4
square of 2 is 8

### compute two number n^2+m^2

In [3]:
n = int (input("Enter  1st number: "))
m = int (input("Enter 2nd number: "))

print("output of n^2+m^2", n**2+m**2)

Enter  1st number: 2
Enter 2nd number: 3
output of n^2+m^2 13

###  Compute result of two nos M**N

In [4]:
n = int (input("Enter  1st number: "))
m = int (input("Enter 2nd number: "))

print("output of M^N", m**n, pow(m,n))

Enter  1st number: 2
Enter 2nd number: 3
output of M^N 9 9

### simple interest calculator

In [5]:

p= int (input("Enter principal amount: "))
r= float (input("Enter  rate of interest per year: "))
t = int (input("Time period: "))
a=(p*(1+r/100*t))
print("Total amount after {0} years is {1}".format(t,a))
print("Total interest amount after {0} years is {1}".format(t,(a-p)))

Enter principal amount: 10000
Enter  rate of interest per year: 5
Time period: 5
Total amount after 5 years is 12500.0
Total interest amount after 5 years is 2500.0

### Compound interest calculator

In [ ]:
p= int (input("Enter principal amount: "))
r= float (input("Enter  rate of interest per year: "))
r = r/100
t = int (input("Time period: "))
n= int (input(" no of times interest calculated per year "))
a=p*((1+r/n)**(n*t))
print("Total amount after {0} years is {1}".format(t,a))

In [9]:
## sum of first n natural nos
n= int(input("Enter the number: "))
s= (n*(n+1))//2
print("sum of first {0} natural number is {1}".format(n,s))

Enter the number: 4
sum of first 4 natural number is 10

### WAP to input 2 numbers and swap them

In [17]:
n= int(input("Enter the 1st number: "))
m= int(input("Enter the 2nd number: "))
c=n
n=m
m=c
print('value of n after swapping is',n) 
print('value of m after swapping is',m)

Enter the 1st number: 2
Enter the 2nd number: 3
value of n after swapping is 3
value of m after swapping is 2

In [18]:
n= int(input("Enter the 1st number: "))
m= int(input("Enter the 2nd number: "))

n,m=m,n
print('value of n after swapping is',n) 
print('value of m after swapping is',m)

Enter the 1st number: 2
Enter the 2nd number: 3
value of n after swapping is 3
value of m after swapping is 2

### Ascii of all white spaces in python and single character

In [37]:
print("ascii value of space",ord(' '))
print("ascii value of \\t",ord('\t'))
print("ascii value of \\n",ord('\n'))
print("ascii value of \\r",ord('\r'))

ascii value of space 32
ascii value of \t 9
ascii value of \n 10
ascii value of \r 13

In [38]:
c= input("enter a string character:")
print(ord(c))

enter a string character:a
97

### Radius and circumference of circle from area

In [48]:
from  math import *
a=float(input("enter area of a circle:"))

r=sqrt((a/pi))
c=2*pi*r
print('radius of circle is',r)
print('circumference of circle is',c)

enter area of a circle:9
radius of circle is 1.692568750643269
circumference of circle is 10.634723105433096